{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Namespaces</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Administration</a></li>
                        <li class="breadcrumb-item active">Namespaces</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

        <div class="col-md-12">
            {% include 'helpers/_alerts.html' %}
        </div>

        <div class="container-fluid">
            <div class="col-12">
                <div class="card card-primary card-outline card-tabs">
                    <div class="card-header p-2">
                        <button class="btn btn-primary float-right" type="button" data-toggle="modal"
                            data-target="#modalCreate">
                            <i class="fas fa-plus"></i> New
                        </button>
                    </div>
                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="dataTable" name="dataTable"
                                        class="table table-bordered table-striped dataTable dtr-inline"
                                        style="table-layout: auto" aria-describedby="dataTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 1%; text-align: center;" class="sorting sorting_asc">
                                                    ID</th>
                                                <th class="sorting">Name</th>
                                                <th style="width: 1%; text-align: center;" class="sorting">Creation</th>
                                                <th style="width: 15%; text-align: center;" class="sorting">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for namespace in namespaces %}
                                            <tr>
                                                <td>
                                                    <div class="text-nowrap">
                                                        {{ namespace.uuid }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">{{ namespace.name }}</div>
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">{{ namespace.created_at }}</div>
                                                </td>
                                                <td style="text-align: center;">
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-outline-primary btn-xs modal-update"
                                                                data-uuid="{{ namespace.uuid }}"
                                                                data-name="{{ namespace.name }}">
                                                                <i class="fas fa-edit"></i> Edit
                                                            </button>
                                                        </div>
                                                        <div class="btn-group">
                                                            <input type="hidden" name="uuid"
                                                                value="{{ namespace.uuid }}">
                                                            <input type="hidden" name="action" value="delete">
                                                            <a href="" title="Delete" class="btn-group"
                                                                onclick="return confirm('Are you sure you wanna delete entry name: {{ namespace.name }}?');">
                                                                <button type="submit"
                                                                    class="btn btn-outline-danger btn-xs">
                                                                    <i class="fas fa-trash"></i> Remove
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    {% include "./modals/create.html" %}
    {% include "./modals/update.html" %}
</div>
<!-- /.content-wrapper -->

<script>
    new DataTable('#dataTable', {
        responsive: true,
        searching: true,
        ordering: false,
        pageLength: 10,
        lengthChange: false
    });


    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.modal-update').forEach(button => {
            button.addEventListener('click', async function () {
                const uuid = this.dataset.uuid;
                const name = this.dataset.name;

                try {
                    document.getElementById('disabled_uuid').value = uuid;
                    document.getElementById('hidden_uuid').value = uuid;
                    document.getElementById('input_name').value = name;
                    document.getElementById('spinner').remove();
                } catch (error) {
                    document.getElementById('modal-body').innerHTML = 'Erro ao carregar dados.';
                }

                $('#modalUpdate').modal('show');
            });
        });
    });

</script>

{% endblock %}