{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Applications</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Applications</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-server"></i></span>

                    <div class="info-box-content">
                      <span class="info-box-text">Clusters</span>
                      <span class="info-box-number">
                        {{ clusters | length }}
                        <small>unit</small>
                      </span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-bars"></i></span>

                    <div class="info-box-content">
                      <span class="info-box-text">Applications</span>
                      <span class="info-box-number">{{ web_applications | length}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-map-marker-alt"></i></span>

                    <div class="info-box-content">
                      <span class="info-box-text">Namespaces</span>
                      <span class="info-box-number">{{ namespaces | length}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-building"></i></span>

                    <div class="info-box-content">
                      <span class="info-box-text">Environments</span>
                      <span class="info-box-number">{{ environments | length}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <div class="col-12">
                <div class="card card-primary card-outline card-tabs">
                  <div class="card-header p-2">
                    <button class="btn btn-primary float-right" type="button" onclick="window.location.href='{% url 'application_new' %}'">
                        <i class="fas fa-plus"></i> New
                    </button>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#web-application" data-toggle="tab">Web Applications</a></li>
                        <li class="nav-item"><a class="nav-link disabled" href="#workers" data-toggle="tab">Workers</a></li>
                        <li class="nav-item"><a class="nav-link disabled" href="#cronjob" data-toggle="tab">Cronjobs</a></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content" id="custom-tabs-three-tabContent">
                      <div class="tab-pane fade active show" id="web-application" role="tabpanel" aria-labelledby="web-application">
                        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="webApplicationTable" name="webApplicationTable"
                                        class="table table-bordered table-striped dataTable dtr-inline"
                                        aria-describedby="webApplicationTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 1%; text-align: center;">#</th>
                                                <th class="sorting sorting_asc" tabindex="0"
                                                    rowspan="1" colspan="1">
                                                    Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1"
                                                    rowspan="1" colspan="1">
                                                    Namespace</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1"
                                                    rowspan="1" colspan="1">
                                                    Visibility</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for application in web_applications %}
                                            <tr>
                                                <td style="align-content: center;">
                                                    <img class="img-circle img-size-32" src="{% static 'custom/images/aws_logo.png' %}">
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">
                                                        <a href="/applications/{{ application.uuid }}">{{ application.name }}</a>
                                                        <div class="small text-body-secondary text-nowrap">{{ application.uuid }}</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">{{ application.namespace.name }}</div>
                                                    <div class="small text-body-secondary text-nowrap">{{ application.namespace.uuid }}</div>
                                                </td>
                                                <td>
                                                    <div class="text-nowrap">{% if application.private %}<span class="badge badge-info">Private</span>{% else %}<span class="badge badge-success">Public</span>{%endif %}</div>
                                                    <div class="small text-body-secondary text-nowrap">{% if application.private%}Internal requests only{% else %}External and internal application{%endif %}</div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="workers" role="tabpanel" aria-labelledby="custom-tabs-workers-tab"></div>
                      <div class="tab-pane fade" id="cronjob" role="tabpanel" aria-labelledby="ccustom-tabs-cronjob-tab"></div>
                    </div>
                  </div>
                  <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    new DataTable('#webApplicationTable', {
        responsive: true,
        searching: true,
        ordering: false,
        pageLength: 10,
        lengthChange: false
    });
</script>
{% endblock %}