{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">New Application</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/applications">Applications</a></li>
                        <li class="breadcrumb-item active">New</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="card card-primary card-outline card-tabs">
                            <div class="card-header">
                                <strong>Create new application</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="application_name">Name</label>
                                            <input type="text" required class="form-control" id="application_name" name="application_name" placeholder="Type the application name">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                          <label>Type</label>
                                          <select class="form-control" id="application_type" name="application_type">
                                            <option value="webapp">Webapp</option>
                                            <option value="worker" disabled="">Worker</option>
                                            <option value="cronjob" disabled="">Cronjob</option>
                                          </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                          <label>Namespace</label>
                                          <select class="form-control" id="application_namespace" name="application_namespace">
                                            {% for namespace in namespaces %}
                                            <option value="{{ namespace.uuid }}">{{ namespace.name }}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                          <label>Visibility</label>
                                          <select class="form-control" id="application_visibility" name="application_visibility">
                                            <option value="private">Private</option>
                                            <option value="public">Public</option>
                                          </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer clearfix">
                                <button type="submit" class="btn btn-primary float-right"><i class="fas fa-plus"></i>
                                    Create</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.col-->
            </div>
        </div>
    </section>
</div>
{% endblock %}