{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-lg px-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <strong>New application</strong>
                </div>
                <div class="card-body">
                    <!-- /.row--><br>
                    <form class="row g-3" action="" method="post">
                        {% csrf_token %}
                        <div class="col-md-4">
                            <label class="form-label" for="application_name">Name</label>
                            <input class="form-control" id="application_name" name="application_name" type="text" required="" placeholder="Type the application name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <label class="form-label" for="application_type">Type</label>
                            <select id="application_type" name="application_type" class="form-select">
                                <option value="webapp">Webapp</option>
                                <option value="worker" disabled="">Worker</option>
                                <option value="cronjob" disabled="">Cronjob</option>
                            </select>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <label class="form-label" for="application_namespace">Namespace</label>
                            <select id="application_namespace" name="application_namespace" class="form-select">
                                {% for namespace in namespaces %}
                                <option value="{{ namespace.uuid }}">{{ namespace.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <label class="form-label" for="application_visibility">Visibility</label>
                            <select id="application_visibility" name="application_visibility" class="form-select">
                                <option value="private">Private</option>
                                <option value="public">Public</option>
                            </select>
                        </div>
                        <div class="col-12"><button class="btn btn-primary" type="submit">Create</button></div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>

</div>
{% endblock %}