{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Application Detail</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/applications">Applications</a></li>
            <li class="breadcrumb-item active">{{ web_application.name }}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="{% static 'custom/images/aws_logo.png' %}"
                  alt="User profile picture">
              </div>

              <p class="profile-username text-center text-lg">{{ web_application.name }}</p>

              <p class="text-muted text-center text-xs" id="web_application_uuid">{{ web_application.uuid }}
                <a href="#" style="color: inherit; text-decoration: none;"><i class="far fa-clone"
                    onclick="copyToClipboard('web_application_uuid')"></i></a>
              </p>
              <p class="profile-username text-center text-lg">{{ web_application.namespace.name }}</p>

              <p class="text-muted text-center text-xs" id="web_application_namespace_uuid">{{ web_application.namespace.uuid }}
                <a href="#" style="color: inherit; text-decoration: none;"><i class="far fa-clone"
                    onclick="copyToClipboard('web_application_namespace_uuid')"></i></a>
              </p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Private</b> <a class="float-right">{% if web_application.private %}<span
                      class="badge badge-info">Private</span>{% else %}<span
                      class="badge badge-success">Public</span>{%endif %}</a>
                </li>
                <li class="list-group-item">
                  <b>Namespace</b> <a class="float-right">{{ web_application.namespace.name }}</a>
                </li>
                <li class="list-group-item">
                  <b>Deployments</b> <a class="float-right"><span class="badge badge-info right">{{web_application.webapp_deploy | length }}</span></a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-sm-9">
          <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-2">
              <button class="btn btn-primary float-right" type="button"
                onclick="window.location.href='{% url 'application_new' %}'">
                <i class="fas fa-plus"></i> New Deployment
              </button>
              <ul class="nav nav-pills">
                {% for deploy in deploys|dictsortreversed:"environment.name" %}
                <li class="nav-item"><a class="nav-link {% if forloop.counter == 1 %}active{% endif%}"
                    href="#{{ deploy.environment.name }}" data-toggle="tab">{{ deploy.environment.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="card-body">
              {% if deploys|length == 0 %}
              <div class="alert alert-info">
                <h5><i class="icon fas fa-info"></i> There is no deployment!</h5>
                There is no deployment created yet. Click on "New Deployment" to create the first one.
              </div>
              {% endif %}
              <div class="tab-content">
                {% for deploy in deploys|dictsortreversed:"environment.name" %}
                <div class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{ deploy.environment.name }}">
                  <div class="card card-outline card-tabs">
                    <form action="" method="post">
                      {% csrf_token %}
                    <div class="card-header p-2">
                      <button id="saveButton" type="button" class="btn btn-primary float-right"  data-toggle="modal" data-target="#saveModal_{{deploy.environment.name}}"><i class="fas fa-save"></i> Save</button>
                      <ul class="nav nav-pills" id="custom-tabs-three-tab_{{ deploy.environment.name }}" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="custom-tabs-three-general-tab_{{ deploy.environment.name }}" data-toggle="pill"
                            href="#custom-tabs-three-general_{{ deploy.environment.name }}" role="tab" aria-controls="custom-tabs-three-general_{{ deploy.environment.name }}"
                            aria-selected="true">General</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="custom-tabs-three-performance-settings-tab_{{ deploy.environment.name }}" data-toggle="pill"
                            href="#custom-tabs-three-performance-settings_{{ deploy.environment.name }}" role="tab" aria-controls="custom-tabs-three-performance-settings_{{ deploy.environment.name }}"
                            aria-selected="false">Performance Settings</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="custom-tabs-three-variables-tab_{{ deploy.environment.name }}" data-toggle="pill"
                            href="#custom-tabs-three-variables_{{ deploy.environment.name }}" role="tab" aria-controls="custom-tabs-three-variables_{{ deploy.environment.name }}"
                            aria-selected="false">Variables <span class="right badge badge-success">{{deploy.envs|length}}</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="custom-tabs-three-listeners-tab_{{ deploy.environment.name }}" data-toggle="pill"
                            href="#custom-tabs-three-listeners_{{ deploy.environment.name }}" role="tab" aria-controls="custom-tabs-three-listeners_{{ deploy.environment.name }}"
                            aria-selected="false">Listeners <span class="right badge badge-success">{{deploy.endpoints|length}}</span></a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <div class="tab-content" id="custom-tabs-three-tabContent_{{ deploy.environment.name }}">
                        <div class="tab-pane fade active show" id="custom-tabs-three-general_{{ deploy.environment.name }}" role="tabpanel"
                        aria-labelledby="custom-tabs-three-general-tab_{{ deploy.environment.name }}">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>UUID</label>
                                <input type="text" class="form-control" disabled="" value="{{deploy.uuid}}">
                                <input type="hidden" name="deploy_uuid" value="{{deploy.uuid}}">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <!-- text input -->
                              <div class="form-group">
                                <label>Image</label>
                                <input type="text" class="form-control" name="image" value="{{deploy.image}}">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label>Version</label>
                                <input type="text" class="form-control" name="version" value="{{deploy.version}}">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label>Workload</label>
                                <select class="form-control" name="workload">
                                  {% for workload in workloads %}
                                  <option value="{{ workload.uuid }}" {% if workload.uuid == deploy.workload.uuid %}selected{% endif %}>{{ workload.name }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>CPU</label>
                                <input
                                type="range"
                                class="form-control-range"
                                id="cpuRange"
                                name="cpu"
                                min="0.25"
                                max="4.0"
                                step="0.25"
                                value="{{deploy.cpu}}"
                                oninput="updateCPULabel(this.value, 'cpuValue_{{deploy.environment.name}}')">
                                <small id="cpuValue_{{deploy.environment.name}}" class="form-text text-muted">Selected: {{deploy.cpu}} Cores</small>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>Memory</label>
                                <input
                                type="range"
                                class="form-control-range"
                                id="memoryRange"
                                name="memory"
                                min="128"
                                max="4096"
                                step="128"
                                value="{{deploy.memory}}"
                                oninput="updateMemoryLabel(this.value, 'memoryValue_{{deploy.environment.name}}')">
                                <small id="memoryValue_{{deploy.environment.name}}" class="form-text text-muted">Selected: {{deploy.memory}} Megabytes</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-three-performance-settings_{{ deploy.environment.name }}" role="tabpanel" aria-labelledby="custom-tabs-three-performance-settings-tab_{{ deploy.environment.name }}">
                          <div class="row">
                            <div class="col-sm-6">
                              <p>Healthcheck</p>
                              <hr>
                              <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Protocol</label>
                                <div class="col-sm-3">
                                  <select class="form-control" name="healthcheck_protocol">
                                    <option value="http" {% if deploy.healthcheck.protocol == http %}selected{% endif %}>HTTP</option>
                                    <option value="tcp" {% if deploy.healthcheck.protocol == tcp %}selected{% endif %}>TCP</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Path</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="healthcheck_path" value="{{deploy.healthcheck.path}}">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Port</label>
                                <div class="col-sm-4">
                                  <input type="number" min="1" max="65535" name="healthcheck_port" class="form-control" value="{{deploy.healthcheck.port}}">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Timeout</label>
                                <div class="col-sm-6">
                                  <div class="input-group mb-1">
                                    <input type="number" min="1" max="5" name="healthcheck_timeout" class="form-control" value="{{deploy.healthcheck.timeout}}">
                                    <div class="input-group-append">
                                      <span class="input-group-text">Seconds</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Init Interval</label>
                                <div class="col-sm-6">
                                  <div class="input-group mb-1">
                                    <input type="number" min="1" max="60" class="form-control" name="healthcheck_initial_interval" value="{{deploy.healthcheck.initial_interval}}">
                                    <div class="input-group-append">
                                      <span class="input-group-text">Seconds</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Interval</label>
                                <div class="col-sm-6">
                                  <div class="input-group mb-1">
                                    <input type="number" min="1" max="60" class="form-control" name="healthcheck_interval" value="{{deploy.healthcheck.interval}}">
                                    <div class="input-group-append">
                                      <span class="input-group-text">Seconds</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Failure Threshold</label>
                                <div class="col-sm-4">
                                  <input type="number" min="1" max="5" class="form-control" name="healthcheck_failure_threshold" value="{{deploy.healthcheck.failure_threshold}}">
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <p>Scaling</p>
                              <hr>
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label>CPU</label>
                                  <input
                                  type="range"
                                  class="form-control-range"
                                  id="cpuThresholdRange"
                                  name="cpu_threshold"
                                  min="0"
                                  max="100"
                                  step="10"
                                  value="{{deploy.cpu_scaling_threshold}}"
                                  oninput="updateThresholdLabel(this.value, 'cpuThresholdValue_{{deploy.environment.name}}')">
                                  <small id="cpuThresholdValue_{{deploy.environment.name}}" class="form-text text-muted">Selected: {{deploy.cpu_scaling_threshold}} %</small>
                                </div>
                              </div>
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label>Memory</label>
                                  <input
                                  type="range"
                                  class="form-control-range"
                                  id="memoryThresholdRange"
                                  name="memory_threshold"
                                  min="0"
                                  max="100"
                                  step="10"
                                  value="{{deploy.memory_scaling_threshold}}"
                                  oninput="updateThresholdLabel(this.value, 'memoryThresholdValue_{{deploy.environment.name}}')">
                                  <small id="memoryThresholdValue_{{deploy.environment.name}}" class="form-text text-muted">Selected: {{deploy.memory_scaling_threshold}} %</small>
                                </div>
                              </div>
                              <p>Custom Metrics</p>
                              <hr>
                              <div class="form-group row">

                                <div class="col-sm-5">
                                  <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control" name="custom_metrics_enabled">
                                      <option value="false" {% if not deploy.custom_metrics.enabled %}selected{% endif %}>Disabled</option>
                                      <option value="true" {% if deploy.custom_metrics.enabled %}selected{% endif %}>Enabled</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <div class="form-group">
                                    <label>Path</label>
                                    <input type="text" class="form-control" name="custom_metrics_path" value="{{ deploy.custom_metrics.path }}">
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <label>Port</label>
                                    <input type="number" class="form-control" name="custom_metrics_port" value="{{ deploy.custom_metrics.port }}">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-three-variables_{{ deploy.environment.name }}" role="tabpanel" aria-labelledby="custom-tabs-three-variables-tab_{{ deploy.environment.name }}">
                          <div class="container">
                            <div class="environment-block" data-env="{{deploy.environment.name}}">
                                <div class="d-flex justify-content-end mb-2">
                                  <button type="button" class="btn btn-primary add-row">
                                      <i class="fas fa-plus"></i>
                                  </button>
                                </div>
                                <div class="variables-container">
                                  {% for env in deploy.envs %}
                                  <div class="form-row align-items-center mb-2 variable-row">
                                    <div class="col-md-5">
                                      <input type="text" class="form-control" name="env_key[]" value="{{ env.key }}" placeholder="Key" required>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="env_value[]" value="{{ env.value }}" placeholder="Value" required>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <button type="button" class="btn btn-danger remove-row">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                  </div>
                                  {% endfor %}
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-three-listeners_{{ deploy.environment.name }}" role="tabpanel" aria-labelledby="custom-tabs-three-listeners-tab_{{ deploy.environment.name }}">
                          <div class="container">
                            {% for endpoint in deploy.endpoints %}
                            <div class="environment-block" id="environment-{{ deploy.environment.name }}">
                              <div class="d-flex justify-content-end mb-2">
                                {% if forloop.counter == 1 %}
                                <button type="button" class="btn btn-primary add-row-listener" data-environment="{{ deploy.environment.name }}">
                                    <i class="fas fa-plus"></i>
                                </button>
                                {% endif%}
                              </div>
                              <div class="endpoints-container">
                                <div class="form-row align-items-center mb-2 endpoint-row">
                                  <div class="col-md-3">
                                    <input type="text" class="form-control" name="source_protocol[]" value="{{ endpoint.source_protocol }}" placeholder="Source Protocol" required>
                                  </div>
                                  <div class="col-md-2">
                                      <input type="text" class="form-control" name="source_port[]" value="{{ endpoint.source_port }}" placeholder="Source Port" required>
                                  </div>
                                  <div class="col-md-3">
                                      <input type="text" class="form-control" name="destination_protocol[]" value="{{ endpoint.dest_protocol }}" placeholder="Dest Protocol" required>
                                  </div>
                                  <div class="col-md-2">
                                      <input type="text" class="form-control" name="destination_port[]" value="{{ endpoint.dest_port }}" placeholder="Dest Port" required>
                                  </div>
                                  <div class="col-md-2 text-center">
                                      <button type="button" class="btn btn-danger remove-row-listener">
                                          <i class="fas fa-trash-alt"></i>
                                      </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="saveModal_{{deploy.environment.name}}" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="saveModalLabel">Save changes in the <b>{{deploy.environment.name}}</b> environment?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form id="environmentForm">
                              <div class="form-group">
                                <small>To confirm changes, type the environment name in the text input field.</small>
                                <input type="text" class="form-control" id="environmentName_{{deploy.environment.name}}" placeholder="{{deploy.environment.name}}" oninput="validateEnvironmentInput('{{deploy.environment.name}}', this)">
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="confirmSave_{{deploy.environment.name}}" class="btn btn-primary" id="confirmSave" disabled>Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    </form>
                    <!-- /.card -->
                  </div>
                </div>
                {% endfor %}
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
    </div>
  </section>
</div>

<script>
  function copyToClipboard(element_id) {
    // Get the text to copy
    const text = document.getElementById(element_id).innerText;

    // Copy the text to the clipboard
    navigator.clipboard.writeText(text);
  }

  function updateCPULabel(value, target) {
      document.getElementById(target).innerText = `Selected: ${value} Cores`;
  }
  function updateMemoryLabel(value, target) {
      document.getElementById(target).innerText = `Selected: ${value} Megabytes`;
  }
  function updateThresholdLabel(value, target) {
      document.getElementById(target).innerText = `Selected: ${value} %`;
  }


  document.addEventListener('DOMContentLoaded', function () {
    // Handle adding and removing rows dynamically for any environment block
    document.body.addEventListener('click', function (e) {
        const addRowButton = e.target.closest('.add-row');
        const removeRowButton = e.target.closest('.remove-row');

        if (addRowButton) {
            // Find the parent environment block
            const environmentBlock = addRowButton.closest('.environment-block');
            if (!environmentBlock) {
                console.error('Environment block not found.');
                return;
            }

            // Find the container where rows are appended
            const container = environmentBlock.querySelector('.variables-container');
            if (!container) {
                console.error('Variables container not found.');
                return;
            }

            // Create a new row for this environment
            const newRow = document.createElement('div');
            newRow.className = 'form-row align-items-center mb-2 variable-row';
            newRow.innerHTML = `
                <div class="col-md-5">
                    <input type="text" class="form-control" name="env_key[]" placeholder="Key" required>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="env_value[]" placeholder="Value" required>
                </div>
                <div class="col-md-2 text-center">
                    <button type="button" class="btn btn-danger remove-row">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            `;
            // Insert the new row at the beginning of the container
            container.insertBefore(newRow, container.firstChild);
        }

        if (removeRowButton) {
            // Remove the row
            const row = removeRowButton.closest('.variable-row');
            if (row) {
                row.remove();
            } else {
                console.error('Variable row not found.');
            }
        }
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    // Handle adding and removing rows dynamically for any environment block
    document.body.addEventListener('click', function (e) {
        const addRowButton = e.target.closest('.add-row-listener');
        const removeRowButton = e.target.closest('.remove-row-listener');

        // Add row functionality
        if (addRowButton) {
            const environmentId = addRowButton.getAttribute('data-environment');
            const environmentBlock = document.getElementById(`environment-${environmentId}`);
            const container = environmentBlock.querySelector('.endpoints-container');

            // Check if there is at least one filled row
            const rows = container.querySelectorAll('.endpoint-row');

            // Create a new row for this environment
            const newRow = document.createElement('div');
            newRow.className = 'form-row align-items-center mb-2 endpoint-row';
            newRow.innerHTML = `
                <div class="col-md-3">
                    <input type="text" class="form-control" name="source_protocol[]" placeholder="Source Protocol" required>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="source_port[]" placeholder="Source Port" required>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="destination_protocol[]" placeholder="Dest Protocol" required>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="destination_port[]" placeholder="Dest Port" required>
                </div>
                <div class="col-md-2 text-center">
                    <button type="button" class="btn btn-danger remove-row-listener">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            `;
            // Insert the new row at the beginning of the container for this environment
            container.insertBefore(newRow, container.firstChild);
        }

        // Remove row functionality
        if (removeRowButton) {
            const row = removeRowButton.closest('.endpoint-row');
            if (row) {
                row.remove();
            } else {
                console.error('Endpoint row not found.');
            }
        }
    });
  });

  function validateEnvironmentInput(expectedName, inputElement) {
    const saveButtonId = `confirmSave_${expectedName}`;
    const saveButton = document.getElementById(saveButtonId);

    if (inputElement.value.trim() === expectedName) {
      saveButton.disabled = false;
    } else {
      saveButton.disabled = true;
    }
  }

</script>
{% endblock %}