apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ application.component_name }}"
  namespace: "{{ application.application_name }}"
  labels:
    app: "{{ application.component_name }}"
    environment: "{{ application.environment }}"
    alias: "{{ application.component_name }}"
    namespace: "{{ application.application_name }}"
    tier: "tier-3"
    type: "web"
spec:
  selector:
    matchLabels:
      app: {{ application.component_name }}
  strategy:
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      annotations:
        prometheus.io/port: "{{ application.settings.custom_metrics.port| string }}"
        prometheus.io/scrape: "{{ application.settings.custom_metrics.enabled | string | lower }}"
        prometheus.io/path: "{{ application.settings.custom_metrics.path | string }}"
        sidecar.opentelemetry.io/inject: "true"
        instrumentation.opentelemetry.io/inject-java: "true"
      labels:
        app: {{ application.component_name }}
        environment: "{{ application.environment }}"
        alias: {{ application.component_name }}
        namespace: "{{ application.application_name }}"
        tier: "tier-3"
        type: "web"
    spec:
      automountServiceAccountToken: true
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - "teste"
            topologyKey: "kubernetes.io/hostname"
      containers:
      - name: "{{ application.component_name }}"
        {% if application.settings.command -%}
        command:
        - /bin/sh
        - -c
        args: {{ application.settings.command }}
        {% endif %}
        env:
        {% for env in application.settings.envs -%}
        - name: {{env.key}}
          value: {{env.value}}
        {% endfor %}
        image:  "{{ application.image }}:{{ application.version }}"
        imagePullPolicy: Always
        livenessProbe:
          {% if application.settings.healthcheck.protocol == "http" -%}
          httpGet:
            path: {{ application.settings.healthcheck.path }}
            port: {{ application.settings.healthcheck.port | int }}
            scheme: HTTP
          {% elif application.settings.healthcheck.protocol == "tcp" -%}
          tcpSocket:
            port: {{ application.settings.healthcheck.port | int }}
          {% endif %}
          failureThreshold: {{ application.settings.healthcheck.failure_threshold | int }}
          initialDelaySeconds: {{ application.settings.healthcheck.initial_interval | int }}
          periodSeconds: {{ application.settings.healthcheck.interval | int }}
          successThreshold: 1
          timeoutSeconds: {{ application.settings.healthcheck.timeout | int }}
        readinessProbe:
          {% if application.settings.healthcheck.protocol == "http" -%}
          httpGet:
            path: {{ application.settings.healthcheck.path }}
            port: {{ application.settings.healthcheck.port | int }}
            scheme: HTTP
          {% elif application.settings.healthcheck.protocol == "tcp" -%}
          tcpSocket:
            port: {{ application.settings.healthcheck.port | int }}
          {% endif %}
          failureThreshold: {{ application.settings.healthcheck.failure_threshold | int }}
          initialDelaySeconds: {{ application.settings.healthcheck.initial_interval | int }}
          periodSeconds: {{ application.settings.healthcheck.interval | int }}
          successThreshold: 1
          timeoutSeconds: {{ application.settings.healthcheck.timeout | int }}
        resources:
          requests:
            cpu: {{ application.settings.cpu }}
            memory: {{ application.settings.memory}}Mi
          limits:
            cpu: {{ application.settings.cpu }}
            memory: {{ application.settings.memory}}Mi
      dnsConfig:
        options:
        - name: ndots
          value: "1"
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      restartPolicy: Always
      terminationGracePeriodSeconds: 30