apiVersion: v1
kind: Service
metadata:
  name: "svc-{{ webapp_uuid }}"
  namespace: "{{ namespace_uuid }}"
  labels:
    app: "{{ webapp_uuid }}"
    environment: "{{ environment }}"
    alias: "{{ webapp_name }}"
    namespace: "{{ namespace_name }}"
    tier: "tier-3"
    type: "web"
spec:
  ports:
    {% for endpoint in endpoints -%}
    - name: port-{{endpoint.source_port}}
      port: {{endpoint.source_port}}
      protocol: TCP
      targetPort: {{endpoint.dest_port}}
    {% endfor %}
  selector:
    app: "{{ webapp_uuid }}"
  sessionAffinity: None
  type:
      ClusterIP