apiVersion: v1
kind: Service
metadata:
  name: "{{ application.component_name }}"
  namespace: "{{ application.application_name }}"
  labels:
    app: "{{ application.component_name }}"
    environment: "{{ application.environment }}"
    alias: "{{ application.component_name }}"
    namespace: "{{  application.application_name}}"
    tier: "tier-3"
    type: "web"
spec:
  ports:
    {% for endpoint in application.settings.endpoints -%}
    - name: port-{{endpoint.source_port}}
      port: {{endpoint.source_port}}
      protocol: TCP
      targetPort: {{endpoint.dest_port}}
    {% endfor %}
  selector:
    app: "{{ application.component_name }}"
  sessionAffinity: None
  type:
      ClusterIP