{% if application.settings.exposure.type == "udp" and (application.settings.exposure.visibility == "public" or application.settings.exposure.visibility == "private") %}
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: UDPRoute
metadata:
  name: "{{ application.component_name }}"
  namespace: "{{ application.application_name }}"
spec:
  parentRefs:
    - name: {{ cluster.gateway.reference.name }}
      namespace: {{ cluster.gateway.reference.namespace }}
      sectionName: "udp-{{ application.settings.exposure.port }}"
  rules:
    - backendRefs:
        - name: "{{ application.component_name }}"
          port: {{ application.settings.exposure.port }}
{% endif %}
